body {
  font-family: Arial, Helvetica, sans-serif;
}

#page-header {
  text-align: center;
  background-color: #7f462c;
}

#content-header,
#submit-button {
  background-color: #337ab7;
  font-weight: bold;
}

.table > thead > tr:first-child > th {
  border: none;
}

label {
  font-weight: bold;
}
